<div class="text-black flex flex-col flex-1 gap-6 h-auto m-[2rem]  ">
    <div class="flex items-center ">
        <div class="flex justify-between items-center w-[60vw]">
            <div class="flex flex-col  ">
                <!-- back button  -->
                <!-- <div class="flex gap-[1rem] items-center  "> -->
                <div class="flex items-center text-secondary px-[1.3rem]  border-none gap-1 ">
                    <svg width="13" height="10" viewBox="0 0 13 10" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.3871 0.209705L4.29289 0.292893L0.292893 4.29289C-0.0675907 4.65338 -0.0953203 5.22061 0.209705 5.6129L0.292893 5.70711L4.29289 9.70711C4.68342 10.0976 5.31658 10.0976 5.70711 9.70711C6.06759 9.34662 6.09532 8.77939 5.7903 8.3871L5.70711 8.29289L3.414 5.999L12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4L3.416 3.999L5.70711 1.70711C6.06759 1.34662 6.09532 0.779392 5.7903 0.387101L5.70711 0.292893C5.34662 -0.0675907 4.77939 -0.0953203 4.3871 0.209705Z"
                            fill="#7E84A3" />
                    </svg>

                    <button routerLink="/blogs" class="border-none outline-none">{{'Back'|translate}}</button>
                </div>

                <!-- </div> -->
                <div class="font-[700] text-[40px] ml-2">
                  {{'  add_new_blog'|translate}}
                </div>
            </div>

                <div class="flex gap-3 items-center ">
                    <app-button (onClick)="removeForm()" [outline]="true">{{'cancel'|translate}}</app-button>

                </div>
              

        </div>

    </div>

    <div class="flex flex-col gap-2 h-auto w-[60vw] bg-[#fff] rounded-[15px] shadow-lg p-6 ">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="flex flex-col">
                <!-- product name-->
                <div class="mb-4 flex items-center  ">
                    <p class="text-grey-green text-[1.2rem] font-[400] mr-[10vw]">Title*</p>
                    <input type="text" id="title-product" name="title-product" formControlName="title"
                        class="border border-gray-400 p-2 w-full rounded focus:outline-none focus:border-blue-400"
                        placeholder="Blog Title" required>
                </div>
                <!-- description section  -->
                <div class="mb-4 flex items-center" >
                    <p class="text-grey-green text-[1.2rem] font-[400] mr-[6.3vw]">Description*</p>
                    <div class="w-full rounded  h-[7rem] mb-4">
                        <textarea formControlName="description"
                            class="w-full h-full border border-gray-400 resize-none p-2 rounded-lg   focus:outline-none focus:border-blue-400"
                            type="text" placeholder="Blog description"></textarea>
                    </div>
                </div>
              

                <div class="my-4 w-full border"></div>
                <!-- select product images  -->
                <div class="my-4">
                  
                    <div class="relative border border-gray-300 rounded mb-4 bg-white p-2.5">
                        <input type="file" id="passport_scan" (change)="onFileSelected($event, 'passport_scan')"
                          class="absolute inset-0 w-full h-full opacity-0 cursor-pointer" />
                        <label for="passport_scan" class="flex justify-between items-center text-gray-700 cursor-pointer">
                          <span class="text-caption">{{'add_file'|translate}}</span>
                          <img src="../../../../assets/img/upload.png" alt="Upload" class="h-6 w-6">
                        </label>
                      </div>
                    <!-- <label for="file"
                        class="relative flex min-h-[200px] items-center justify-center rounded-md border border-dashed border-[#e0e0e0] p-12 text-center">
                        <div>
                            <span
                                class="inline-flex rounded border border-grey-green py-2 px-7 text-base font-medium text-grey-green cursor-pointer">
                                Add file
                            </span>
                            <span class="mb-2 block text-base font-medium text-grey-label">
                                Or
                            </span>

                            <span class="mb-2 block text-md font-semibold text-grey-label">
                                Drop files here
                            </span>
                        </div>
                    </label> -->
                </div>

                <div class=" pt-3  w-full">
                    <!-- (onClick)="" -->
                    <app-button  (onClick)="onSubmit()" 
                    [outline]="false" class="text-base">
                        {{'save_blog'|translate}}</app-button>
                </div>

            </div>




        </form>

    </div>

</div>
