<div class="text-black flex flex-col flex-1 gap-6 h-auto m-[2rem]  ">
    <div class="flex items-center ">
        <div class="flex justify-between items-center w-[60vw]">
            <div class="flex flex-col  ">
                <!-- back button  -->
                <!-- <div class="flex gap-[1rem] items-center  "> -->
                <div routerLink="/shipments" class="flex items-center text-secondary px-[1.3rem]  border-none gap-1 ">
                    <svg width="13" height="10" viewBox="0 0 13 10" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.3871 0.209705L4.29289 0.292893L0.292893 4.29289C-0.0675907 4.65338 -0.0953203 5.22061 0.209705 5.6129L0.292893 5.70711L4.29289 9.70711C4.68342 10.0976 5.31658 10.0976 5.70711 9.70711C6.06759 9.34662 6.09532 8.77939 5.7903 8.3871L5.70711 8.29289L3.414 5.999L12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4L3.416 3.999L5.70711 1.70711C6.06759 1.34662 6.09532 0.779392 5.7903 0.387101L5.70711 0.292893C5.34662 -0.0675907 4.77939 -0.0953203 4.3871 0.209705Z"
                            fill="#7E84A3" />
                    </svg>

                    <button  class="border-none outline-none">{{'back'|translate}}</button>
                </div>

                <!-- </div> -->
                <div class="font-[700] text-[40px] ml-2">
                   {{'add_shipment'|translate}}
                </div>
            </div>

                <div class="flex gap-3 items-center ">
                    <app-button (onClick)="onDestroyForm()" [outline]="true">{{'cancel'|translate}}</app-button>

                </div>
              

        </div>

    </div>

    <div class="flex flex-col gap-2 h-auto w-[60vw] bg-[#fff] rounded-[15px] shadow-lg p-6 ">
        <form [formGroup]="projectForm" (ngSubmit)="onSaveProject()"> 
            <div class="flex flex-col">

                <div class="relative">
                    <div class="mb-4 flex items-center  ">
                        <p class="text-grey-green text-[1.2rem] font-[400] mr-[10vw]">{{'shipping_place'|translate}}*</p>
                    <select id="regions" formControlName="shipping_place"
                        class=" border-gray-400  appearance-none border rounded w-full   focus:border-blue-400 py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option  disabled selected value="" hidden>{{'select_a_place'|translate}}</option>
                        <option class="font-roboto" *ngFor="let region of regions;let i=index"
                            [value]="region['transalte']">
                            {{region['transalte']|translate}}
                        </option>
                    </select>
                    </div>
                    <!-- <div *ngIf="languageService.selectedLanguage == 'en'"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                    <div *ngIf="!(languageService.selectedLanguage == 'en')"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div> -->
                </div>
                <div class="mb-4 flex items-center  ">
                    <p class="text-grey-green text-[1.2rem] font-[400] mr-[10vw]">{{'shipping_price'|translate}}*</p>
                    <input type="number" id="shipping_price" name="shipping_price" formControlName="shipping_price"
                        class="border border-gray-400 p-2 w-full rounded focus:outline-none focus:border-blue-400"
                        [placeholder]="'shipping_price'|translate" required>
                </div>
                <div class="mb-4 flex items-center" >
                    <p class="text-grey-green text-[1.2rem] font-[400] mr-[16.5vw]">{{'note'|translate}}</p>
                    <div class="w-full rounded  h-[7rem] mb-4">
                        <textarea formControlName="note"
                            class="w-full h-full border border-gray-400 resize-none p-2 rounded-lg   focus:outline-none focus:border-blue-400"
                            type="text" [placeholder]="'note'|translate"></textarea>
                    </div>
                </div>
              

                <div class="my-4 w-full border"></div>
                <div class=" pt-3  w-full">
                    <!-- (onClick)="" -->
                    <app-button [outline]="false" class="text-base" (onClick)="onSaveProject()">
                        {{'save'|translate}}</app-button>
                </div>

            </div>




        </form>

    </div>

</div>