<!-- Password input component -->
<div
  class=" bg-white border border-gray-300 rounded   flex items-center justify-between ">
  <input [type]="type" name="login-password" id="login-password" [formControl]="control"
    class="w-full h-full border-none rounded-l outline-none text-base sm:text-sm bg-gray-200 text-gray-700 py-[.85rem] px-4" [placeholder]="placeholder">
  <span class="flex items-center px-2 cursor-pointer rounded-r bg-gray-200 py-[0.61rem]" (click)="togglePasswordVisibility()">
    <img *ngIf="passwordVisible" src="../../assets/icon/eye-off.svg" alt="Hide Password" class="h-[3vh]">
    <img *ngIf="!passwordVisible" src="../../assets/icon/eye-on.svg" alt="Show Password" class="h-[3vh]">
  </span>
</div>
