<!-- Password input component -->
<!-- <div
  class="my-2 h-12 bg-white border border-gray-300 rounded py-1 px-2 flex items-center justify-between sm:my-1 sm:h-10 sm:py-0.5 sm:px-1">
  <input [type]="type" name="login-password" id="login-password" [formControl]="control"
    class="w-full h-full border-none outline-none text-base sm:text-sm" [placeholder]="placeholder">
  <span class="flex items-center px-2 cursor-pointer" (click)="togglePasswordVisibility()">
    <img *ngIf="passwordVisible" src="../../assets/icon/eye-off.svg" alt="Hide Password" class="h-[3vh]">
    <img *ngIf="!passwordVisible" src="../../assets/icon/eye-on.svg" alt="Show Password" class="h-[3vh]">
  </span>
</div> -->
