<!-- https://play.tailwindcss.com/MIwj5Sp9pw -->
<div class="py-16">
  <div class="flex bg-white rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl">
      <div class="hidden lg:block lg:w-1/2 bg-cover"
          style="background-image:url('../../../assets/img/bg1.jpg')">
      </div>
      <div class="w-full p-8 lg:w-1/2">
          <!-- <h2 class="text-2xl font-semibold text-gray-700 text-center">Brand</h2> -->
          <div class=" h-[17vh]"></div>
          <h2 class="text-3xl font-bold text-gray-700 text-left  ">{{'HELLO!'|translate}}</h2>
          <p class="text-xl text-gray-600 text-center">In publishing and graphic design, Lorem ipsum is
             a placeholder text commonly used to demonstrate the</p>

          <div class="mt-4 flex items-center justify-between">
              <span class=" w-1/5 lg:w-1/4"></span>
              <!-- <a href="#" class="text-xs text-center text-gray-500 uppercase">or login with email</a> -->
              <span class=" w-1/5 lg:w-1/4"></span>
          </div>
          <!-- [formGroup]="form" (ngSubmit)="onSubmit()"  -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full">
            <!-- <div class="mt-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">{{'email_address'|translate}}</label>
              <input class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="email" />
          </div> -->
          <div class=" py-2">
            <label class="block text-gray-700 text-sm font-bold mb-2 ">{{'Phone_number'|translate}}</label>
            <div class=" border border-gray-300   focus:shadow-outline  rounded flex items-center w-full mb-4">
           
              <!-- Country Code Dropdown -->
              <select [name]="'country_code'|translate"
              class="h-full w-1/4 bg-gray-200 border-none outline-none py-[.76rem] px-1 rounded-l  text-base" formControlName="countryCode">
              <option *ngFor="let country of code" [value]="country.code" class="text-primary h-[30vh] hover:bg-hover">
                {{ country.code }}
              </option>
            </select>
              <!-- <p-dropdown formControlName="countryCode" [options]="code" optionLabel="code" placeholder="Select a Country"></p-dropdown> -->
              <!-- Phone Number Input -->
              <input type="text" [name]="'phone_number'|translate" class="bg-gray-200 text-gray-700  rounded-r focus:outline-none focus:shadow-outline border-none  py-[.66rem] px-4 block w-full appearance-none"
                [(ngModel)]="phoneNo" [placeholder]="'phone_number'|translate" formControlName="phone" />
  
                <!-- <input pInputText type="text" class="p-inputtext-lg bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none " [placeholder]="'phone_number'|translate" formControlName="phone" /> -->
            </div>
      
          </div>
         

          <div class="mt-4">
              <div class="flex justify-between">
                  <label class="block text-gray-700 text-sm font-bold mb-2">{{'Password'|translate}}</label>
                  <a href="#" class="text-xs text-gray-500">{{'Forget_Password?'|translate}}</a>
              </div>
              <app-password [control]="getControl('password')" [placeholder]="'password'|translate">
              </app-password>
              <!-- <input class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="password" /> -->
          </div>
          <div class="mt-8">
              <button class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600">Login</button>
          </div>
          <div class="mt-4 flex items-center justify-between">
              <span class=" w-1/5 md:w-1/4"></span>
              <a href="#" class="text-xs text-gray-500 uppercase">or sign up</a>
              <span class=" w-1/5 md:w-1/4"></span>
          </div>
          
          </form>
       
      </div>
  </div>
</div>