<div class="h-full w-full bg-bg-dashboard">
  <div class=" text-black flex flex-col  h-full w-full p-[2rem] ">
    <div class="flex items-center ">
      <div class="flex justify-between items-center flex-1">
        <div class="flex flex-col  ">
          <!-- back button  -->
          <!-- <div class="flex gap-[1rem] items-center  "> -->
          <div class="flex items-center text-secondary px-[1.3rem]  border-none gap-1 ">
            <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M4.3871 0.209705L4.29289 0.292893L0.292893 4.29289C-0.0675907 4.65338 -0.0953203 5.22061 0.209705 5.6129L0.292893 5.70711L4.29289 9.70711C4.68342 10.0976 5.31658 10.0976 5.70711 9.70711C6.06759 9.34662 6.09532 8.77939 5.7903 8.3871L5.70711 8.29289L3.414 5.999L12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4L3.416 3.999L5.70711 1.70711C6.06759 1.34662 6.09532 0.779392 5.7903 0.387101L5.70711 0.292893C5.34662 -0.0675907 4.77939 -0.0953203 4.3871 0.209705Z"
                fill="#7E84A3" />
            </svg>

            <button routerLink="/product" class="border-none outline-none">Back</button>
          </div>

          <!-- </div> -->
          <div class="font-[700] text-[1.5vw] ml-2">
            Add Product
          </div>
        </div>



        <!-- Menu  -->
        <div class="flex flex-col">
          <!-- <div class="flex gap-3 items-center ml-[11vw]">

          </div> -->
          <!-- button actions  -->
          <div class="flex gap-2 items-center w-[38vw]">

            <app-button>Add Category</app-button>

            <app-button>Add Type</app-button>
            <app-button (onClick)="cancelNewProduct()" [outline]="true">Cancel</app-button>

          </div>
        </div>

      </div>

    </div>

    <div class="flex flex-col gap-2 h-auto w-[60vw] bg-[#fff] rounded-[15px] shadow-lg p-6 ">
      <p class="font-bold mb-1">Information</p>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
          <!-- <div class="flex items-start justify-start py-4 gap-2">
                        </div> -->

          <!-- product name-->
          <div class="mb-4">
            <input type="text" id="title-product" name="title-product" formControlName="name"
              class="border border-gray-400 p-2 w-full rounded focus:outline-none focus:border-blue-400"
              placeholder="product name" required>
          </div>
          <!-- description section  -->
          <div class="w-full rounded  h-[6rem] mb-4">
            <textarea formControlName="description"
              class="w-full h-full border border-gray-400 resize-none p-2 rounded-lg   focus:outline-none focus:border-blue-400"
              type="text" placeholder="product description"></textarea>
          </div>

          <div class="my-4 w-full border"></div>
          <!-- select product images  -->
          <div class="my-4">
            <input type="file" name="file" id="file" class="sr-only" (change)="handleFileInputChange($event)"
              accept="image/*" multiple />
            <label for="file"
              class="relative flex min-h-[10vh] items-center justify-center rounded-md border border-dashed border-[#e0e0e0] p-12 text-center">
              <div>
                <span
                  class="inline-flex rounded border border-grey-green py-2 px-7 text-base font-medium text-grey-green">
                  Add file
                </span>
                <span class="mb-2 block text-base font-medium text-grey-label">
                  Or
                </span>

                <span class="mb-2 block text-md font-semibold text-grey-label">
                  Drop files here
                </span>
              </div>
            </label>
          </div>
          <div class="my-4 w-full border"></div>

          <div class="mb-6">
            <!-- <h2 class="text-xl font-semibold text-gray-700 dark:text-white mb-2">Shipping Address</h2> -->
            <!-- color & shade  -->
            <div class="grid grid-cols-2 gap-4">
              <div>
                <label for="color" class="block text-grey-label mb-1">Color</label>
                <!-- <input type="text" id="color" class="w-full rounded-lg border py-2 px-3 "> -->
                <input type="text" id="color" name="color" formControlName="color"
                  class="border border-gray-400 p-2 w-full rounded focus:outline-none focus:border-blue-400"
                  placeholder="Color" required>
              </div>
              <div>
                <label for="shade" class="block text-grey-label mb-1">Shade</label>
                <!-- <input type="text" id="shade" class="w-full rounded-lg border py-2 px-3  "> -->
                <input type="text" id="shade" name="shade" formControlName="shade"
                  class="border border-gray-400 p-2 w-full rounded focus:outline-none focus:border-blue-400"
                  placeholder="Shade" required>
              </div>
            </div>


            <div class="grid grid-cols-2 gap-4 my-8">
              <div>
                <label for="producttype" class="block text-grey-label  mb-1">Product Type</label>
                <select id="producttype" name="producttype" formControlName="p_type"
                  class="w-full h-10 border-2 border-grey-green focus:outline-none
                                         focus:border-secondary text-secondary rounded px-2 md:px-3 py-0 md:py-1 tracking-wider" (change)="selectCategory($event)">
                  <!-- w-full   -->
                  <option disabled hidden selected></option>
                  <option [value]="type" *ngFor="let type of typeList">{{type}}</option>
                </select>
                <!-- <label for="first_name" class="block text-gray-700 dark:text-white mb-1">First Name</label>
                                    <input type="text" id="first_name" class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none"> -->
              </div>
              <!-- category -->
              <div>
                <label for="productcategory" class="block text-grey-label  mb-1">Product
                  Category</label>
                <select id="productcategory" name="productcategory" formControlName="category"
                  class="w-full h-10 border-2 border-grey-green focus:outline-none
                                         focus:border-secondary text-secondary rounded px-2 md:px-3 py-0 md:py-1 tracking-wider">
                  <!-- w-full   -->
                  <option selected=""></option>
                  <option [value]="category" *ngFor="let category of categoryList"
                    (click)="selectSubCategory(category)">{{category}}</option>
                </select>
                <!-- <label for="first_name" class="block text-gray-700 dark:text-white mb-1">First Name</label>
                                    <input type="text" id="first_name" class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none"> -->
              </div>


            </div>
            <!-- price section  -->
            <div class="grid grid-cols-2 gap-4 ">
              <div>
                <label for="price" class="block text-grey-label mb-1">Price</label>
                <!-- <input type="text" id="color" class="w-full rounded-lg border py-2 px-3 "> -->
                <input type="text" id="price" name="price" formControlName="price"
                  class="border border-gray-400 p-2 w-full rounded focus:outline-none focus:border-blue-400"
                  placeholder="Price" required>
              </div>
              <div>
                <label for="discount" class="block text-grey-label mb-1">Discount</label>
                <!-- <input type="text" id="shade" class="w-full rounded-lg border py-2 px-3  "> -->
                <input type="text" id="discount" name="discount" formControlName="discount"
                  class="border border-gray-400 p-2 w-full rounded focus:outline-none focus:border-blue-400"
                  placeholder="Discount">
              </div>
            </div>

            <div class="mt-8">
              <label for="quantity" class="mb-1 block text-grey-label">
                Quantity
              </label>
              <!-- <input type="number" name="quantity" id="quantity" placeholder="5" min="0"
                                    class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                                    -->
              <input type="number" id="quantity" name="quantity" formControlName="stock_quantity"
                class="border border-gray-400 p-2 w-full rounded focus:outline-none focus:border-blue-400"
                placeholder="Quantity">

            </div>
          </div>
          <!-- file input  -->
          <!-- <div class="rounded-md border border-gray-400 focus:border-blue-400 p-2 ">
                            <label for="upload" class=" flex items-center gap-2 cursor-pointer">
                                <svg width="20" height="23" viewBox="0 0 20 23" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.09898 1.68542C3.25007 1.68542 1.71674 3.18195 1.67325 5.02752V17.1057C1.64091 18.9423 3.09841 20.45 4.92167 20.4812L5.0856 20.4801H14.0202C15.8512 20.46 17.3444 18.9468 17.3422 17.1068V7.07158L12.1746 1.68542H5.11236H5.09898ZM4.90627 22.1539C2.14851 22.106 -0.0461002 19.8344 0.000735925 17.0912V5.00744C0.0642993 2.24076 2.34924 0.0126953 5.09584 0.0126953H5.11592H12.5305C12.758 0.0126953 12.9755 0.105253 13.1338 0.269179L18.7832 6.15604C18.9315 6.31105 19.0151 6.51958 19.0151 6.7348V17.1057C19.0196 19.859 16.7826 22.1238 14.0293 22.1528L4.90627 22.1539Z"
                                        fill="black" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M18.1737 7.78819H15.1025C13.0607 7.78261 11.4014 6.11881 11.4014 4.08032V0.83636C11.4014 0.374689 11.7761 0 12.2377 0C12.6994 0 13.0741 0.374689 13.0741 0.83636V4.08032C13.0741 5.19993 13.9852 6.11212 15.1048 6.11547H18.1737C18.6353 6.11547 19.01 6.49016 19.01 6.95183C19.01 7.4135 18.6353 7.78819 18.1737 7.78819Z"
                                        fill="black" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.0363 13.0067H6.57318C6.11151 13.0067 5.73682 12.632 5.73682 12.1703C5.73682 11.7087 6.11151 11.334 6.57318 11.334H12.0363C12.498 11.334 12.8726 11.7087 12.8726 12.1703C12.8726 12.632 12.498 13.0067 12.0363 13.0067Z"
                                        fill="black" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.30511 15.7395C8.84344 15.7395 8.46875 15.3648 8.46875 14.9031V9.4389C8.46875 8.97723 8.84344 8.60254 9.30511 8.60254C9.76678 8.60254 10.1415 8.97723 10.1415 9.4389V14.9031C10.1415 15.3648 9.76678 15.7395 9.30511 15.7395Z"
                                        fill="black" />
                                </svg>
                                <span class="text-gray-400 font-medium">{{'add_photos'|translate}}</span>
                            </label>
                            <input id="upload" type="file" class="hidden" />
                        </div> -->


          <!-- <div class="flex flex-col mt-4">
                            <span class="text-lg  mb-4 text-grey-green">{{'your_profile'|translate}}</span>
                            <div class="mb-4">
                                <input type="text" id="name" name="name"
                                    class="border border-gray-400 p-2 w-full rounded focus:outline-none focus:border-blue-400"
                                    placeholder="{{'name'|translate}}" required>
                            </div>
                            <div class="mb-4">
                                <input type="email" id="email" name="email"
                                    class="border border-gray-400 p-2 w-full rounded focus:outline-none focus:border-blue-400"
                                    placeholder="{{'email_address'|translate}}" required>
                            </div> -->

          <!-- <div class="lg:w-[20vw]  w-full flex justify-center items-center mx-auto">
                                <button
                                    class="inline-flex h-10 w-full  items-center justify-center gap-2 rounded border border-slate-300 bg-white p-2 text-sm font-medium text-black outline-none focus:ring-2 focus:ring-[#333] focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-60"><img
                                        src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google"
                                        class="h-[18px] w-[18px] ">Continue with
                                    Google
                                </button>
                            </div>

                            <div class="flex flex-col w-full">
                                <div class="mt-6 text-center text-sm text-grey ">
                                    {{'by_continuing_you_agree_to_our'|translate}}
                                    <a href="javascript:void(0);"
                                        class="font-medium text-grey-green pl-1 border-b border-b-grey-green">Privacy
                                        Policy</a>
                                </div>
                            </div>
                            <div class=" pt-3  w-full">
                                <app-button (onClick)="submitProductReview()" [outline]="false" class="text-base">
                                    {{ 'agree_&_submit' | translate }}</app-button>
                            </div>


                        </div> -->
          <div class=" pt-3  w-full">
            <!-- (onClick)="" -->
            <app-button [outline]="false" class="text-base" (onClick)="onSubmit()">
              submit</app-button>
          </div>

        </div>




      </form>

    </div>

  </div>


</div>
