<div class="backdrop-blur-sm backdrop-brightness-50 h-full w-full fixed top-0 right-0 z-[999]  font-primary flex justify-center
  items-center ">
  <div class="relative p-4 w-full max-w-3xl  ">
    <div class="bg-white   relative rounded-md ">
      <button class="absolute top-2 right-2 text-gray-500 hover:text-gray-700" (click)="this.onDestroyForm()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
      <div class="p-5">
        <h2 class="text-2xl font-semibold text-center mb-4">register</h2>
        <p class="text-md text-start mb-4">please_fill_in_the_feilds_below</p>
        <div class="my-[2vh]"></div>
        <form action="" [formGroup]="projectForm" (ngSubmit)="onSaveProject()" class="w-full">
          <div class="w-full flex flex-col gap-2">
            <app-text-input [control]="getControl('name')" [placeholder]="'name'" type="text">
            </app-text-input>
            <app-text-input [control]="getControl('email')" [placeholder]="'email_address'" type="email">
            </app-text-input>
          </div>

          <div class="my-4 w-full h-full bg-white border border-gray-300 rounded py-2 px-3 flex items-center ">
            <!-- Country Code Dropdown -->
            <select name="countryCode" class="h-full w-1/3 bg-white border-none outline-none text-base rounded-l-lg "
              formControlName="countryCode">
              <option *ngFor="let country of code" [value]="country.code" class="text-primary h-[30vh] hover:bg-hover">
                {{ country.code }}
              </option>
            </select>
            <!-- Phone Number Input -->
            <input type="text" name="phone_number"
              class="w-full h-full border-none outline-none text-base rounded-r-lg " [placeholder]="'phone_number' "
              formControlName="phone" />
          </div>
          <!-- password & confirm pass section  -->
          <!-- <div class=" flex flex-col w-full gap-4">
        <app-password-input  [control]="getControl('password')" [placeholder]="'password'">
        </app-password-input>

        <app-password-input [control]="getControl('confirmPassword')" [placeholder]="'confirm_password'">
        </app-password-input>
       </div> -->
          <div class="w-full rounded  h-[7rem] my-4">
            <textarea formControlName="note"
              class="w-full h-full border  border-gray-300 resize-none p-2 rounded-lg   focus:outline-none " type="text"
              placeholder="note"></textarea>
          </div>
          <select id="role" name="role" formControlName="role"
            class=" h-10 border-2 border-grey-green focus:outline-none focus:border-secondary text-secondary rounded px-2 md:px-3 py-0 md:py-1 tracking-wider">
            <!-- w-full   -->
            <option value="Employee" selected="">Employee</option>
            <option value="Admin">Admin</option>

          </select>



          <div class="mt-4">
            <app-button [outline]="false" (onClick)="onSaveProject()">
              Update User
            </app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
